<ul class="list-inline">
    <% if user_signed_in? %>
        <% if @user.email == "ckeller@scpr.org" or @user.email == "elarrubia@scpr.org" %>
            <li><%= link_to('Invite new users', new_invitation_path(:user), class: "btn btn-success") %></li>
        <% end %>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :get, class: "btn btn-danger") %></li>
    <% else %>
        <li><%= link_to('Login', new_user_session_path, class: "btn btn-success") %></li>
    <% end %>
</ul>
