<h1>Home</h1>

<p>This is the first page someone will see. It should have a link to create a <%= link_to 'new transcription', controller: :transcriptions, action: :new %>.</p>

<p>It should probably also display some dashboard data?</p>

<%= render 'devise/menu/login_items' %>
