<h1>Transcriptions#show</h1>

<p><%= link_to 'Home', controller: :home, action: :index %></p>

<p><%= link_to 'View all transcriptions', transcriptions_path %></p>

<p><%= link_to 'Add Transcription', new_transcription_path %></p>

<p><%= link_to 'Edit Transcription', edit_transcription_path %></p>
