<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li><%= link_to 'Home', controller: :home, action: :index %></li>
            <li><%= link_to "Peoples", peoples_path() %></li>
            <li>Peoples Statistics</li>
        </ol>
    </div>
</div>

<div class="row data-filters"></div>
